# Dependencias
node_modules/

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Entornos
.env
.env.local
.env.*.local

# Build
dist/
build/
.cache/

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
